.welcome-section {
    height: 55vh;
    width: 100%;
    background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg');
    background-size: cover;
    background-position: center;
}

.welcome-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 55vh;
    margin: 0 auto;
}

.welcome {
    margin-bottom: 25px;
    font-size: 1.7rem; 
}

.welcome-greeting {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;

}

.yellow-btn {
    margin-top: 20px;
    outline: none;
    background-color:#FED136;
    border: none;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 16px;
}