
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%
}

@media(min-width: 576px) {
    .container {
        max-width: 576px;
    }
   
}

@media(min-width: 768px) {
    .container {
        max-width: 740px;
    }
    
    
}

@media(min-width: 992px) {
    .menu-btn {
        display: none;
    }
    .container {
        max-width: 975px;
    }
    .full-menu {
        display: initial;
    }
    .header-title {
        font-size: 26px;
        transition: .4s;
    }
    .welcome-section {
        height: 80vh;
    }
    .welcome-container {
        height: 80vh;
    }
    .welcome-greeting {
        font-size: 4rem;
        margin-bottom: 20px;
    }
    .welcome {
        font-size: 2.1rem;
    }
}
